Web technologies course/day9/Contacts/ClientSide_Projects
/Servlets and JSP/day6/lab2/CustomJSPTag/target/
/Servlets and JSP/day6/lab1 - Copy/target/
/Servlets and JSP/day6/lab1 - extended sqltag/target/
