<div [formGroup]="form">
  <div class="form-group">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      formControlName="Email"
      aria-describedby="emailHelp"
    />
    <
    <div id="emailHelp" class="form-text">
      We'll never share your email with anyone else.
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" formControlName="Password" class="form-control" />
  </div>

  <button [disabled]="form-invalid" type="submit" class="btn btn-primary">
    Submit
  </button>
</div>
