<?xml version="1.0" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration.dtd">
<hibernate-configuration>
    <session-factory >
        <property name = "hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver</property>
        <property name = "hibernate.connection.url">
            jdbc:mysql://localhost:3306/helloworlddb</property>
        <property name = "hibernate.connection.username">
            root </property>
        <property name ="hibernate.connection.password">
            root </property>
        <property name ="hibernate.dialect">
            org.hibernate.dialect.MySQL8Dialect
        </property>
        <property name = "hibernate.jdbc.log.warnings">true</property>
<!--        <mapping resource="day1/account.hbm.xml"/>-->
        <mapping class="day1.annotation.Account"/>
    </session-factory>
</hibernate-configuration>